<!-- <ul>
  <li><img src="../../../assets/bank_logo.png" alt="" /></li>
  <li><p>FDHC Bank</p></li>
  <li class="signOut" style="float: right"><a href="/home">Sign Out</a></li>
  <li style="float: right"><a href="">News</a></li>
  <li style="float: right"><a href="#">Contact</a></li>
  <li style="float: right">
    <a class="active" routerLink="/dashboard">Home</a>
  </li>
</ul> -->
<input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon" />
<label for="menu-icon"></label>
<nav class="nav">
  <ul class="pt-5">
    <li><a href="#">Home</a></li>
    <li><a href="/openAccount">New USer</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="#">About</a></li>
  </ul>
</nav>
